//Import folder Styles-Globals and assign alias.
@use '../../styles/' as *;
@use '../../styles/typography' as *;

.containerFilter{
    width:50%;
    margin:30px auto;
    padding: 40px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   
    gap:40px;

}

.filteredProducts{
    @include style-font( $color: $gray-dark, $font: 'Poppins', $fallback: 'Arial, sans-serif', $size: 16px ,$weight: 300 );
    @include style-border ( $line:0.5px, $style:solid, $color-bord: $white-dark, $radius:3px );
    padding:5px;
    text-decoration: none;
    & > img{
        width:100%;
        padding:15px 0;
    }
    .productPrice{
        @include style-font( $color: red, $font: 'Poppins', $fallback: 'Arial, sans-serif', $size: 15px ,$weight: 400 );
    }
}
