
// ============Poppins Typography============================
@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700; // Bold
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400; // Regular
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900; // Black
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../src/assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100; // Thin
  font-style: normal;
}