
//===========Palet Colors=================

$yellow-ligth: #E2E302 ;  
$lime-principal: #64A70B;    
$lime1-dark-background-grad: #046A38 ;
$lime-ligth-background-grad: #2BAA01; 
$gray-dark: #495867;
$white-ligth:#FAFAFA;
$white-dark:#EEEEEE;
$fucsia-ligth: #E20041;

