//Import folder Styles-Globals and assign alias.
@use '../../../styles/' as *;
@use '../../../styles/typography' as *;

.addProducts{
    @include style-font ( $color:$lime1-dark-background-grad , $font: 'Poppins', $fallback: 'Arial, sans-serif', $size: 15px ,$weight: 400 );
    @include align-flexcontainer ( $direc: column , $justCont: center );
    align-items: flex-start;
    gap:25px;
    .counterProducts{
        @include align-flexcontainer ( $direc: row , $justCont: flex-start );
        gap:25px;
        

    }
}